h1 {
    font-size: 3em;
}

pre {
    white-space: pre-wrap;
}

/* Forkme ribbon start */
.fork-ribbon {
    border-bottom: 0 none;
}

.fork-ribbon::before {
    box-sizing: inherit;
}

.fork-ribbon::before, .fork-ribbon::after {
    box-sizing: inherit;
}

/* Forkme ribbon end */

.headerlink {
    border: medium none;
    color: #dddddd;
    font-size: 0.65em;
    margin-left: 0.25em;
    vertical-align: text-bottom;
}

.current i {
    color: #f56a6a;
    font-size: 1.25em;
    margin: 0.25em 1em 0.25em 0;
}

/* Navigation buttons bottom start */

.prev_next_buttons_bottom a {
    margin-bottom: 2em;
}

.prev_next_buttons_bottom a:first-child {
    float: left;
    margin-left: 2.75em;
    margin-right: 1em;
}

.prev_next_buttons_bottom a:last-child {
    float: right;
    margin-left: 1em;
    margin-right: 2.75em;
}

/* Navigation buttons bottom end */

/* Scroll to top button
Thanks: http://codepen.io/bsmith/pen/gbvDj
*/
.scrolltop {
    bottom: 20px;
    display: none;
    margin: 0 auto;
    position: fixed;
    right: 10px;
    width: 100%;
}
.scroll {
    background: #f56a6a none repeat scroll 0 0;
    border-radius: 35px 35px 10px 10px;
    bottom: 1em;
    color: #ffffff;
    cursor: pointer;
    margin: 0;
    opacity: 0.25;
    padding: 1.25em;
    position: absolute;
    right: 1em;
    text-align: center;
    transition: all 0.5s ease 0s;
}
.scroll:hover {
    opacity: 1;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size: 2.25em;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
